{% extends 'core/base.html' %}
{% block content %}
<h1>Products</h1>
<div class="actions">
    <a href="{% url 'product-add' %}" class="button-link">Add Product</a>
</div>
<table>
    <tr><th>Name</th><th>SKU</th><th>Description</th></tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.sku }}</td>
        <td>{{ product.description }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">No products found.</td></tr>
    {% endfor %}
</table>
{% endblock %}
